@import "../collors/collors.scss";

.section-2{
    width: 100%;
    background-color: rgb(0, 0, 0);
    margin-top: 1.5rem;
    position: relative;
    z-index: -1;
    padding-bottom: 10rem;
    .wrapper-container{
        width: 90%;
        display: flex;
        flex-direction: row;
        margin: auto;
        align-items: center;
        color: $textColor;
        z-index: 1;
        .esq{
            width: 50%;
            z-index: 1;
            margin-top: 60px; 
            margin-left: 40px;   
            h1{
                font-size: 8rem;
                margin-bottom: 20px;
            }
            h2{
                font-size: 3rem;
            }
        }
        .dir{
            width: 50%;
            z-index: 1;
            margin-top: 25px;
            margin-left: 45px;
            margin-bottom: 70px;
            .tv{
                position: relative;
                img{
                    width: 95%;
                }
                #videoTv{
                    position: absolute;
                    top: 0;
                    left: 0;
                    margin-top: 14.9%;
                    margin-left: 12.3%;
                    width: 69%; 
                }
                .img{
                    position: absolute;
                    top: 0;
                    left: 0;
                }
                #videoDevice{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 60%;
                    margin-top: 7%;
                    margin-left: 17%;
                }
            }
        }
    }
    .wrapper-container:after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.4);
        background-image: linear-gradient(0deg,rgba(0,0,0,.6) 0,transparent 60%,rgba(0,0,0,.6));  
    
    }
}