@import "../collors/collors.scss";

.section-3{
    width: 100%;
    background-color: rgb(0, 0, 0);
    margin-top: 1.5rem;
    position: relative;
    z-index: -1;
    padding-bottom: 10rem;
    .wrapper-container{
        width: 90%;
        display: flex;
        flex-direction: row;
        margin: auto;
        align-items: center;
        color: $textColor;
        z-index: 1;
        .esq{
            width: 50%;
            z-index: 1;
            margin-top: 25px;
            margin-left: -5%;
            margin-bottom: 70px; 
            .tv{
                position: relative;
                #telefone{
                    width: 98%;
                }
                  
                .borda{
                    position: absolute;
                    background-color: rgb(0, 0, 0);
                    width: 65%;
                    bottom: 0;
                    margin-left: 15%;
                    margin-bottom: 25px;
                    display: flex;
                    flex-direction: row;
                    padding: 10px;
                    border-radius: 10px;
                    border: 2px solid rgba(128, 128, 128, 0.623);
                    img{
                        width: 15%;
                    }
                    .legenda{
                        display: flex;
                        flex-direction: column;
                        padding: 15px;
                        justify-content: center;
                        h3{
                            font-size: 3rem;
                        }
                        h4{
                            font-size: 1.5rem;
                            color: blue;
                        }
                    }
                }
                #infantil{
                    width: 85%;
                    margin-left: 15%;
                    margin-top: 30px;
                }
            }
        }
        .dir{
            width: 50%;
            z-index: 1;
            margin-top: 60px; 
            margin-left: 40px;  
            h1{
                font-size: 8rem;
                margin-bottom: 20px;
                width: 90%;
            }
            h2{
                font-size: 3rem;
                width: 90%;
            }
        }
    }
    section:after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.4);
        background-image: linear-gradient(0deg,rgba(0,0,0,.6) 0,transparent 60%,rgba(0,0,0,.6));  
    
    }
}