@import "../collors/collors.scss";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    ul{
        text-decoration: none;
        list-style: none;
    }
}
html{
    font-size: 62.5%;
}
body{
    background-color: $backGroundColor;
    width: 100%;
    .container{
        width: 100%;
        height: 100%;
    }
}    