@import "../collors/collors.scss";

.section-1{
    display: flex;
    flex-direction: column;
    background-image: url(/src/assets/images/painel.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    z-index: -1;

        .our-story-header-wrapper{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            margin-top: 8px;
            z-index: 1;
            width: 100%;            
            .logo{
                width: 75%;
                z-index: 1;

                img{
                    width: 15rem;
                }
            }

            .language{
                margin-right: 30px;
                z-index: 1;

                .ui-select{
                    padding: 7px 5px;
                    background-color: transparent;
                    color: $textColor;
                    font-weight: 500;
                    font-size: 0.8rem;
                    border-color: $textColor;
                    border-radius: 2px;
                    font-size: 2.5rem;

                    option:active{
                        background-color: gray;
                        font-size: 150px;
                    }

                }
                .ui-select:focus{
                    outline: none;
                }
                
            }

            a{
                background-color: $buttonEnter;
                border: 1px solid transparent;
                padding: 6px 15px;
                z-index: 1;
                border-radius: 3px;
                color: aliceblue;
                text-decoration: none;
                font-size: 3rem;
                font-weight: 500;
            }
        }

        .our-story-header-wrapper::after{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            background: rgba(0, 0, 0, 0.4);
            background-image: linear-gradient(0deg,rgba(0,0,0,.6) 0,transparent 60%,rgba(0,0,0,.6));    
        }
        .our-story-card-text{
            z-index: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: $textColor;
            width: 80%;
            margin: auto;
            text-align: center;
            
            h1{
                font-size: 12rem;
                margin-bottom: 4rem;
            }
            h2{
                font-size: 6rem;
                margin-bottom: 4rem;
                width: 80%;
            }
            h3{
                font-size: 3rem;
                margin-bottom: 20px;
            }
            .logar{
                display: flex;
                flex-direction: row;
                margin-top: 5rem;

                input{
                    padding: 3rem 0;
                    width: 65rem;
                    border: none;
                    font-size: 5rem;
                    margin-right: 1px;
                    text-indent: 1rem;
                }
                input:focus{
                    outline: none;
                }
                button{
                    padding: 16px 30px;
                    background-color: $buttonEnter;
                    border: none;
                    font-size: 5rem;
                    cursor: pointer;
                    color: $textColor;
                }
                button:active{
                    transform: scale(1.03);
                    // border: 1px solid black;
                };
            }
        }
}