@media (max-width: 1400px){

    .section-1{
        .our-story-header-wrapper{           
            .language{
                .ui-select{
                    font-size: 2rem;
                    option:active{
                        font-size: 150px;
                    }
                }
            }
            a{
                font-size: 2.5rem;
            }
        }
        .our-story-card-text{
            h1{
                font-size: 6rem;
                margin-bottom: 4rem;
            }
            h2{
                font-size: 2rem;
                margin-bottom: 4rem;
                width: 80%;
            }
            h3{
                font-size: 2rem;
                margin-bottom: -20px;
            }
            .logar{
                // margin-top: 5rem;
                input{
                    padding: 2rem 0;
                    width: 55rem;
                    font-size: 3rem;
                }
                button{
                    font-size: 3rem;
                }
            }
        }        
    }
    .section-2{
        .wrapper-container{
            .esq{ 
                h1{
                    font-size: 6rem;
                }
                h2{
                    font-size: 2rem;
                }
            }
            .dir{
                margin-bottom: 10px; 
            }
        }
    }
    .section-3, .section-5{
        .wrapper-container{
            .esq{
                margin-bottom: -30px; 
                .tv{
                    #telefone{
                        width: 98%;
                    } 
                    .borda{
                        img{
                            width: 13%;
                        }
                        .legenda{
                            h3{
                                font-size: 2rem;
                            }
                            h4{
                                font-size: 1rem;
                            }
                        }
                    }
                }
            }
            .dir{ 
                h1{
                    font-size: 4rem;
                }
                h2{
                    font-size: 2rem;
                    width: 90%;
                }
            }
        }
    }
    .section-4{
        .wrapper-container{
            .esq{
                h1{
                    font-size: 4rem;
                }
                h2{
                    font-size: 2rem;
                }
            }
            .dir{
                margin-top: 7rem;
                margin-bottom: -60px;
            }
        }
    }
    .section-6{
        .faq{
            h2{
                font-size: 6rem;
                padding: 8rem ;    
            }
            .faq-list{
                .faq-list-item{
                    button{
                        font-size: 3rem;
                    }
                }
                .faq-answer{
                    font-size: 2rem;
                }
            }
        }
        .our-story-card-text{
            h3{
                font-size: 2rem;
            }
            .logar{
                margin-top: 5rem;
                margin-bottom: 10rem ;
                input{
                    padding: 2rem 0;
                    width: 55rem;
                    font-size: 3rem;
                }
                button{
                    font-size: 3rem;
                }
            }
        }
    }
}
@media (max-width: 1000px){

    .section-1{
        .our-story-header-wrapper{           
            .language{
                .ui-select{
                    font-size: 2rem;
                    option:active{
                        font-size: 150px;
                    }
                }
            }
            a{
                font-size: 2.5rem;
            }
        }
        .our-story-card-text{
            h1{
                font-size: 7rem;
                margin-bottom: 4rem;
            }
            h2{
                font-size: 3.5rem;
                margin-bottom: 4rem;
                width: 80%;
            }
            h3{
                font-size: 2rem;
                margin-bottom: -20px;
            }
            .logar{
                input{
                    padding: 2rem 0;
                    width: 40rem;
                    font-size: 3rem;
                }
                button{
                    font-size: 3rem;
                }
            }
        }        
    }
    .section-2{
        .wrapper-container{
            .esq{ 
                h1{
                    font-size: 4rem;
                }
                h2{
                    font-size: 2rem;
                }
            }
            .dir{
                margin-bottom: 10px; 
            }
        }
    }
    .section-3, .section-5{
        .wrapper-container{
            .esq{
                margin-bottom: -30px; 
                .tv{
                    #telefone{
                        width: 98%;
                    } 
                    .borda{
                        img{
                            width: 13%;
                        }
                        .legenda{
                            h3{
                                font-size: 2rem;
                            }
                            h4{
                                font-size: 1rem;
                            }
                        }
                    }
                }
            }
            .dir{ 
                h1{
                    font-size: 4rem;
                }
                h2{
                    font-size: 2rem;
                    width: 90%;
                }
            }
        }
    }
    .section-4{
        .wrapper-container{
            .esq{
                h1{
                    font-size: 4rem;
                }
                h2{
                    font-size: 2rem;
                }
            }
            .dir{
                margin-top: 7rem;
                margin-bottom: -60px;
            }
        }
    }
    .section-6{
        .faq{
            h2{
                font-size: 6rem;
                padding: 8rem ;    
            }
            .faq-list{
                .faq-list-item{
                    button{
                        font-size: 3rem;
                    }
                }
                .faq-answer{
                    font-size: 2rem;
                }
            }
        }
        .our-story-card-text{
            h3{
                font-size: 2rem;
            }
            .logar{
                margin-top: 5rem;
                margin-bottom: 10rem ;
                input{
                    padding: 2rem 0;
                    width: 55rem;
                    font-size: 3rem;
                }
                button{
                    font-size: 3rem;
                }
            }
        }
    }
}
@media (max-width: 800px){

    .section-1{
        .our-story-card-text{
            h1{
                font-size: 6rem;
            }
            h2{
                font-size: 3rem;
                width: 90%;
            }
            .logar{
                flex-direction: column;
                input{
                    width: 50rem;
                }
                button{
                    margin: auto;
                    width: 25rem;
                    margin-top: 1rem;
                }
            }
        }        
    }
    .section-2, .section-3, .section-4, .section-5{
        .wrapper-container{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            .esq{ 
                width: 80%;
                margin: 5rem auto;
                text-align: center;
                h1{
                    font-size: 5rem;
                    margin-bottom: 3rem;
                }
                h2{
                    width: 80%;
                    margin: auto;
                    font-size: 2.5rem;
                }
            }
            .dir{
                width: 80%;
                margin-top: -25px;
                margin-bottom: -50px;
            }
        }
    }
    .section-2{
        .wrapper-container{
            .dir{ 
                margin-left: 3rem;
            }
        }
    }
    .section-3, .section-5{
        .wrapper-container{
            flex-direction: column-reverse;
            .esq{ 
                margin-bottom: -5rem;
                h1{
                    font-size: 5rem;
                    margin-bottom: 3rem;
                }
                h2{
                    width: 80%;
                    margin: auto;
                    font-size: 2.5rem;
                }
            }
            .dir{ 
                margin-top: 6rem;
                h1{
                    font-size: 4rem;
                    text-align: center;
                }
                h2{
                    text-align: center;
                }
            }
        }
    }
    .section-4{
        .wrapper-container{
            .dir{ 
                margin-left: 0;
                
            }
        }
    }
    .section-5{
        .wrapper-container{
            .esq{ 
                margin-left: 2rem;
                
            }
        }
    }
    .section-6{
        .faq{
            width: 95%;
        }
        .our-story-card-text{
            .logar{
                flex-direction: column;
                input{
                    width: 50rem;
                }
                button{
                    margin: auto;
                    width: 25rem;
                    margin-top: 1rem;
                }
            }
        }
    }
}
@media (max-width: 550px){
    html{
        font-size: 55%;
    }
    .section-1{
        .our-story-card-text{
            .logar{
                input{
                    width: 45rem;
                }
            }
        }        
    }
    .section-6{
        .our-story-card-text{
            .logar{
                input{
                    width: 45rem;
                }
            }
        }
    }
}
@media (max-width: 450px){

    html{
        font-size: 45%;
    }
    .section-1{
        height: 75vh; 
        .our-story-header-wrapper::after{
            height: 75vh;
        }      
    }
}
@media (max-width: 380px){

    html{
        font-size: 40%;
    }
    .section-1{
        .our-story-card-text{
            .logar{
                button{
                    font-size: 2rem;
                }
            }
        }        
    }
    
}